@font-face {
    font-family: 'Lumberjack',sans-serif;
    src: url('../fonts/Lumberjack.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto',sans-serif;
    src: url('../fonts/Roboto.ttf');
    font-weight: 400;
}
