:root {
  --pink: #d6258f;
  --white: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background: #000;
  font-family: "Lumberjack", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

.header_nav {
  padding: 5px 0;
}

.header_nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_nav-content_list {
  display: flex;
  align-items: center;
}

.header_nav-content_list-link {
  font-family: "Lumberjack";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 15px;
}

.california {
  background: url(../img/bg.svg) no-repeat center / cover;
  min-height: 980px;
  margin-top: 10px;
}

.california_content {
  background: linear-gradient(141.38deg,
      rgba(0, 0, 0, 0.37) 0.62%,
      rgba(41, 38, 41, 0.01) 100%);
  backdrop-filter: blur(11.5px);
  max-width: 960px;
  width: 100%;
  min-height: 980px;
  height: 100%;
}

.california_content-top {
  max-width: 600px;
}

.california_content-bottom {
  max-width: 600px;
}

.colifornia_content-filter {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.california_content-top_title {
  font-weight: 400;
  font-size: 96px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  filter: blur(0.597222px);
  text-shadow: 0 0 30px var(--pink);
  color: var(--pink);
  width: 100%;
}

.california_content-bottom_txt {
  font-family: "Lumberjack", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  color: #ffffff;
  width: 100%;
}

.california_content-bottom_span {
  color: var(--pink);
}

.part-content_cards-card_titles-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--pink);
  text-align: center;
}

.part-content_cards-card_titles-txt {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  max-width: 390px;
  width: 100%;
  margin-top: 65px;
}

.part-content_cards-card {
  background: #0f1f2f;
  border-radius: 20px;
  margin: 0 15px;
}

.part-content_cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.party-content_title {
  font-weight: 400;
  font-size: 64px;
  filter: blur(0.592361px);
  color: #d6258f;
  text-align: center;
  text-shadow: 0 0 20px var(--pink);
  margin-bottom: 60px;
}

.party {
  margin: 100px 0;
  position: relative;
}

.part-content_cards-card_titles {
  padding: 30px 10px;
}

.part-content_cards-card_imgs-img {
  border-radius: 20px 20px 0px 0px;
}

.paryt-content_up {
  display: none;
  position: absolute;
  top: -5%;
  left: 7%;
}

.paryt-content_right {
  position: absolute;
  top: 15%;
  left: 0;
}

.news {
  background: #020f1c;
  padding: 100px 0;
}

.news-content {
  position: relative;
}

.news-content_all-right_title {
  font-weight: 400;
  font-size: 24px;
  color: #d6258f;
}

.news-content_all-rights_right-top {
  display: flex;
  align-items: center;
}

.news-content_title {
  font-family: "Lumberjack";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: var(--pink);
  text-shadow: 0 0 50px var(--pink);
}

.news-content_all-right_span {
  color: white;
  margin: 0 25px;
}

.news-content_all-left {
  position: relative;
  z-index: 1;
}

.news-content_all-right_txt1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 20px;
  max-width: 300px;
  width: 100%;
}

.news-content_all-right_title1 {
  font-weight: 400;
  font-size: 24px;
  color: #d6258f;
  max-width: 169px;
  width: 100%;
}

.news-content_all-right_txt {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 20px;
}

.news-content_all-rights_right {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.news-content_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.news-content_star {
  position: absolute;
  top: 15%;
  right: 0;
}

.news-content_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  max-width: 1290px;
}

.news-content_button-btn {
  background: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  border: 2px solid var(--pink);
  border-radius: 20px;
  width: 100%;
  padding: 20px 0;
  transition: .4s;
  cursor: pointer;
}

.news-content_button-btn:hover {
  background: var(--pink);
  color: #ffffff;
}

.news-content_button-link {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
  color: #ffffff;
}

.everyday {
  background: url(../img/everday.svg)no-repeat center / cover;
  min-height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.everyday-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.everyday-content_title {
  font-weight: 400;
  font-size: 48px;
  color: var(--pink);
}

.everyday-content_txt {
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  margin-top: 35px;
}

.gallery {
  padding: 100px 0;
  background: url(../img/gallery.svg)no-repeat center / cover;
  min-height: 1250px;
}

.gallery-content_title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: var(--pink);
  text-shadow: 0 0 50px var(--pink);
}

.gallery-content_photos-home {
  border-radius: 20px;
  margin: 0 15px;
}

.gallery-content_photos {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  margin-top: 70px;
  gap: 30px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content_title {
  font-weight: 400;
  font-size: 48px;
  color: var(--pink);
}

.footer-content_txt {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 10px 0;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--pink);
  box-shadow: 0 4px 4px 15px rgba(0, 0, 0, 0.25), 0px 1px 6px 6px #E1078B;
  margin-top: 40px;
  padding-top: 40px;
}

@media (max-width: 1440px) {
  .paryt-content_right {
    display: none;
  }

  .paryt-content_up {
    display: flex;
    position: absolute;
    top: -5%;
    left: 2%;
  }

  .california_content {
    max-width: 720px;
    width: 100%;
  }

  .california {
    min-height: 750px;
  }
}

@media (max-width: 1024px) {
  .california {
    min-height: 550px;
  }

  .part-content_cards-card_imgs {
    max-width: 315px;
    width: 100%;
  }

  .part-content_cards-card_imgs-img {
    max-width: 315px;
    width: 100%;
  }

  .gallery-content_photos {
    flex-wrap: wrap;
  }

  .gallery-content_photos1 {
    flex-wrap: wrap;
  }

  .part-content_cards-card_titles-txt {
    margin-top: 20px;
  }

  .paryt-content_img {
    display: none;
  }

  .gallery-content_photos-home {
    max-width: 315px;
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .part-content_cards-card:nth-child(3) {
    display: none;
  }

  .news-content_all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    flex-direction: column-reverse;
  }

  .news-content_star {
    position: absolute;
    top: 5%;
    right: 0;
  }

  .gallery-content_photos {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
  }

  .gallery {
    padding: 100px 0;
    background: url(../img/gallery.svg)no-repeat center / cover;
    min-height: 1169px;
  }

  .california_content {
    max-width: 450px;
    width: 100%;
  }

  .california_content-top_title {
    font-size: 70px;
    margin-left: 20px;
  }

  .california_content-bottom_txt {
    font-size: 36px;
    line-height: 42px;
    margin-left: 20px;
  }

  .california {
    min-height: 450px;
  }

  .california_content {
    min-height: 450px;
  }

  .party-content_title {
    font-size: 36px;
  }

  .part-content_cards-card_imgs {
    max-width: 354px;
    width: 100%;
  }

  .news-content_title {
    font-size: 36px;
  }

  .news-content_all-left_img {
    height: 350px;
    max-width: 500px;
    width: 100%;
  }

  .news-content_star {
    position: absolute;
    top: 5%;
    right: 10%;
  }

  .news-content_all-rights {
    margin-top: 50px;
  }

  .news-content_button {
    margin-top: 40px;
  }

  .everyday {
    min-height: 400px;
  }

  .gallery {
    padding: 60px 0;
  }

  .gallery-content_photos {
    margin-top: 30px;
    gap: 10px;
  }
 
}
@media (max-width: 768px) {
  .news-content_all-right_span {
    color: white;
    margin: 0 25px;
    overflow: hidden;
    display: none;
}
.news-content_all-rights_right-top{
  justify-content: space-between;
}
.news-content_all-right_title1{
  max-width: 130px;
  width: 100%;
}
.news-content_button-btn {
  font-size: 18px;
}
.part-content_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.california_content-top_title {
font-size: 36px;
  width: unset;
}
.california_content {
  background: linear-gradient(141.38deg, rgba(0, 0, 0, 0.37) 0.62%, rgba(41, 38, 41, 0.01) 100%);
   backdrop-filter: unset;
}
.california_content-bottom_txt {
  font-size: 24px;
   margin-left: unset; 
}
.header_nav-content_list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_nav-content_list-link {
  font-size: 16px;
}
.part-content_cards-card_imgs-img {
  max-width: 355px;
  width: 100%;
}
.part-content_cards-card {
  max-width: 354px;
  width: 100%;
  margin: 10px 0;
}
.party {
  margin: 10px 0;
  position: relative;
}
.gallery {
  padding: 100px 0;
  background: url(../img/gallery.svg)no-repeat center / cover;
  min-height: 899px;
}
}
@media (max-width: 320px) {
  .footer-content_title {
    font-weight: 400;
    font-size: 36px;
    color: var(--pink);
}
.footer-content_txt {
  font-size: 16px;
}
.california_content-bottom_txt {
  font-size: 24px;
  margin-left: unset;
  text-align: center;
}
.header_nav-content_list-link {
  font-size: 11px;
}
.news-content_star {
  position: absolute;
  top: 7%;
  right: -16%;
}
.overflow{
  overflow: hidden;
}
}

